body
{
	padding-top: 100px;
	text-align:center;
}

#screen
{
	border: solid;
	border-width: 0.5px;
	padding-left: 200px;
	padding-right: 200px;
	padding-top: 40px;
	padding-bottom: 40px;
	width:200px;
	height:200px;
}

#btns
{
	padding-top:40px;
	padding-right:5px;
}

#btn0
{
	padding-top:5px;
	padding-right:5px;
}

