<html>
	<head>
		<title>Flask input and output</title>
		<link rel="stylesheet" type="text/css" href="/static/Custom.css">
	</head>
	<body>
		<h1>Input the following info</h1>
		<form method="post">
			<select name="weekdaycmb">
				<option id="one">Monday</option>
				<option id="two">Tuesday</option>
				<option id="three">Wednesday</option>
				<option id="four">Thursday</option>
				<option id="five">Friday</option>
			</select>
			<br>
			<table id="tbinfo">
				<tr>
					<td>
					<label id="lblperiod1">Enter Period 1 name: </label>
					<input type="text" name="txtperiod1"> </input> 
					<label id="lblteacher1">Enter Teacher 1 name: </label>
					<input type="text" name="txtteacher1"></input>
					<label id="lblclassroom">Enter room for period1</label>
					<input type="text" name="txtclassroom1"></input>
					<label id="lblgrade1">Enter grade for class: </label>
					<input type="text" name="txtgrade1"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod2">Enter Period 2 name: </label>
					<input type="text" name="txtperiod2"> </input>
					<label id="lblteacher2">Enter Teacher 2 name: </label>
					<input type="text" name="txtteacher2"></input>
					<label id="lblclassroom2">Enter room for period2</label>
					<input type="text" name="txtclassroom2"></input>
					<label id="lblgrade2">Enter grade for class: </label>
					<input type="text" name="txtgrade2"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod3">Enter Period 3 name: </label>
					<input type="text" name="txtperiod3"> </input>
					<label id="lblteacher3">Enter Teacher 3 name: </label>
					<input type="text" name="txtteacher3"></input>
					<label id="lblclassroom3">Enter room for period3</label>
					<input type="text" name="txtclassroom3"></input>
					<label id="lblgrade3">Enter grade for class: </label>
					<input type="text" name="txtgrade3"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod4">Enter Period 4 name: </label>
					<input type="text" name="txtperiod4"> </input> 
					<label id="lblteacher4">Enter Teacher 4 name: </label>
					<input type="text" name="txtteacher4"></input>
					<label id="lblclassroom4">Enter room for period4</label>
					<input type="text" name="txtclassroom4"></input>
					<label id="lblgrade4">Enter grade for class: </label>
					<input type="text" name="txtgrade4"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod5">Enter Period 5 name: </label>
					<input type="text" name="txtperiod5"> </input> 
					<label id="lblteacher5">Enter Teacher 5 name: </label>
					<input type="text" name="txtteacher5"></input>
					<label id="lblclassroom5">Enter room for period5</label>
					<input type="text" name="txtclassroom5"></input>
					<label id="lblgrade5">Enter grade for class: </label>
					<input type="text" name="txtgrade5"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod6">Enter Period 6 name: </label>
					<input type="text" name="txtperiod6"> </input> 
					<label id="lblteacher6">Enter Teacher 6 name: </label>
					<input type="text" name="txtteacher6"></input>
					<label id="lblclassroom6">Enter room for period6</label>
					<input type="text" name="txtclassroom6"></input>
					<label id="lblgrade6">Enter grade for class: </label>
					<input type="text" name="txtgrade6"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod7">Enter Period 7 name: </label>
					<input type="text" name="txtperiod7"> </input>
					<label id="lblteacher7">Enter Teacher 7 name: </label>
					<input type="text" name="txtteacher7"></input>
					<label id="lblclassroom7">Enter room for period7</label>
					<input type="text" name="txtclassroom7"></input>
					<label id="lblgrade7">Enter grade for class: </label>
					<input type="text" name="txtgrade7"></input>
					</td>
				</tr>
				<tr>
					<td>
					<label id="lblperiod8">Enter Period 8 name: </label>
					<input type="text" name="txtperiod8"> </input> 
					<label id="lblteacher8">Enter Teacher 8 name: </label>
					<input type="text" name="txtteacher8"></input>
					<label id="lblclassroom8">Enter room for period8</label>
					<input type="text" name="txtclassroom8"></input>
					<label id="lblgrade8">Enter grade for class: </label>
					<input type="text" name="txtgrade8"></input>
					</td>
				</tr>
				<tr>
					<td>
					<button type="submit">Submit</button>
					</td>
				</tr>
			</table>
		</form>
	</body>
</html>