#tbschedule {
    width: 40%;
    border-collapse: collapse;
    margin-top: 5px; 
}

#tbschedule th {
    background-color: gray;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#tbschedule td {
    border: 1px solid black;
    padding: 8px;
}


#avgtb label {
    display: block;
    margin-bottom: 5px; 
}
#avgtb {
    width: 40%;
    border-collapse: collapse;
    margin-top:-464px;
	margin-left:650px;
}


#avgtb th {
    background-color: gray;
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

#avgtb td {
    border: 1px solid black;
    padding: 8px;
}


#avgtb label {
    display: block;
    margin-bottom: 5px; 
}